/* stylelint-disable @tailwindcss/unknownAtRules */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable @tailwindcss/unknownAtRules */

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
